.icecream1 {
  position: absolute;
width: 40.5px;
height: 56.25px;
left: 1377.34px;
top: 155px;
transform: rotate(13.72deg);
}
.icecream2 {
  position: absolute;
width: 108px;
height: 159px;
left: 1379px;
top: 321.92px;

transform: rotate(-72.35deg);
}
.icecream3 {
  position: absolute;
width: 108px;
height: 159px;
left: 1318px;
top: 353px;
}
.icecream4 {

position: absolute;
width: 60.05px;
height: 88.4px;
left: 1225px;
top: 336.55px;

transform: rotate(-46.5deg);
}
.icecream5 {

position: absolute;
width: 64px;
height: 94.22px;
left: 1201px;
top: 420px;
}
.icecream6 {
  position: absolute;
width: 87.74px;
height: 129.18px;
left: 1060px;
top: 359.83px;

transform: rotate(-58.52deg);
}
.icecream7 {
  position: absolute;
width: 108px;
height: 159px;
left: 978px;
top: 356px;
}
.icecream8 {

position: absolute;
width: 54px;
height: 75px;
left: 944px;
top: 310px;

}
.icecream9 {

position: absolute;
width: 54px;
height: 75px;
left: 876px;
top: 433px;
}
.icecream10 {

position: absolute;
width: 79.92px;
height: 117.66px;
left: 794px;
top: 355.84px;

transform: rotate(-62.42deg);
}
.icecream11 {
  position: absolute;
width: 65.81px;
height: 96.89px;
left: 732px;
top: 412.95px;

transform: rotate(-44.79deg);
}
.icecream12 {
position: absolute;
width: 40.5px;
height: 56.25px;
left: 656.34px;
top: 356px;

transform: rotate(13.72deg);
}
.icecream13 {

position: absolute;
width: 81px;
height: 119.26px;
left: 675.03px;
top: 412.29px;

transform: rotate(13.72deg);
}
.icecream14 {

position: absolute;
width: 40.5px;
height: 56.25px;
left: 599.34px;
top: 436px;

transform: rotate(13.72deg);
}
.icecream15 {

position: absolute;
width: 65.81px;
height: 96.89px;
left: 680px;
top: 568.12px;

transform: rotate(-58.52deg);
}
.icecream16 {

position: absolute;
width: 40.5px;
height: 56.25px;
left: 593px;
top: 530.75px;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
