.icecream1 {
  position: absolute;
width: 40.5px;
height: 56.25px;
left: 1377.34px;
top: 155px;
transform: rotate(13.72deg);
}
.icecream2 {
  position: absolute;
width: 108px;
height: 159px;
left: 1379px;
top: 321.92px;

transform: rotate(-72.35deg);
}
.icecream3 {
  position: absolute;
width: 108px;
height: 159px;
left: 1318px;
top: 353px;
}
.icecream4 {

position: absolute;
width: 60.05px;
height: 88.4px;
left: 1225px;
top: 336.55px;

transform: rotate(-46.5deg);
}
.icecream5 {

position: absolute;
width: 64px;
height: 94.22px;
left: 1201px;
top: 420px;
}
.icecream6 {
  position: absolute;
width: 87.74px;
height: 129.18px;
left: 1060px;
top: 359.83px;

transform: rotate(-58.52deg);
}
.icecream7 {
  position: absolute;
width: 108px;
height: 159px;
left: 978px;
top: 356px;
}
.icecream8 {

position: absolute;
width: 54px;
height: 75px;
left: 944px;
top: 310px;

}
.icecream9 {

position: absolute;
width: 54px;
height: 75px;
left: 876px;
top: 433px;
}
.icecream10 {

position: absolute;
width: 79.92px;
height: 117.66px;
left: 794px;
top: 355.84px;

transform: rotate(-62.42deg);
}
.icecream11 {
  position: absolute;
width: 65.81px;
height: 96.89px;
left: 732px;
top: 412.95px;

transform: rotate(-44.79deg);
}
.icecream12 {
position: absolute;
width: 40.5px;
height: 56.25px;
left: 656.34px;
top: 356px;

transform: rotate(13.72deg);
}
.icecream13 {

position: absolute;
width: 81px;
height: 119.26px;
left: 675.03px;
top: 412.29px;

transform: rotate(13.72deg);
}
.icecream14 {

position: absolute;
width: 40.5px;
height: 56.25px;
left: 599.34px;
top: 436px;

transform: rotate(13.72deg);
}
.icecream15 {

position: absolute;
width: 65.81px;
height: 96.89px;
left: 680px;
top: 568.12px;

transform: rotate(-58.52deg);
}
.icecream16 {

position: absolute;
width: 40.5px;
height: 56.25px;
left: 593px;
top: 530.75px;
}
.eyes1 {
  position: absolute;
width: 102.33px;
height: 68.14px;
left: 113px;
top: 1673px;

}
.eyes2 {
  position: absolute;
width: 84.12px;
height: 42.55px;
left: 106px;
top: 1801.04px;

transform: rotate(-38.22deg);
}
.eyes3 {
  position: absolute;
width: 133.01px;
height: 108.39px;
left: 111px;
top: 1830px;

}
.eyes4 {
  position: absolute;
width: 90px;
height: 45.53px;
left: 192px;
top: 1804px;
}
.eyes5 {

position: absolute;
width: 87px;
height: 44.01px;
left: 237px;
top: 1887.02px;

transform: rotate(-33.5deg);
}
.eyes6 {

position: absolute;
width: 47.26px;
height: 23.91px;
left: 405.76px;
top: 1794px;

transform: rotate(32.26deg);
}
.eyes7 {

position: absolute;
width: 89px;
height: 44.02px;
left: 400px;
top: 1846px;

}
.eyes8 {

position: absolute;
width: 60.17px;
height: 30.44px;
left: 458px;
top: 1830.91px;

transform: rotate(-51.22deg);
}
.eyes9 {
  position: absolute;
width: 87.68px;
height: 44.35px;
left: 519.04px;
top: 1822px;

transform: rotate(25.42deg);
}
.eyes10{
  position: absolute;
width: 55px;
height: 27.82px;
left: 541px;
top: 1799px;

}
.eyes11{
  position: absolute;
width: 65px;
height: 52.97px;
left: 596px;
top: 1839px;

}
.eyes12 {
  position: absolute;
width: 84.12px;
height: 42.55px;
left: 627.42px;
top: 1781.28px;

transform: rotate(30deg);
}
.eyes13 {
  position: absolute;
width: 65px;
height: 52.97px;
left: 666px;
top: 1885.84px;

transform: rotate(-69.4deg);
}
.eyes14 {
  position: absolute;
width: 99.28px;
height: 76.37px;
left: 794px;
top: 1785px;
}
.eyes15 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 794.2px;
top: 1851.38px;
}
.eyes16{
  position: absolute;
width: 98px;
height: 106.34px;
left: 843px;
top: 1835px;
}
.eyes17 {
  position: absolute;
width: 77.38px;
height: 68.81px;
left: 895px;
top: 1782px;
}
.eyes18 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 931px;
top: 1847px;

}
.eyes19 {
  position: absolute;
width: 87.02px;
height: 78.69px;
left: 974.56px;
top: 1884.64px;

transform: rotate(68.97deg);
}
.eyes20{

position: absolute;
width: 64.76px;
height: 65.34px;
left: 953.12px;
top: 1960.2px;

transform: rotate(126.87deg);
}
.eyes21 {

position: absolute;
width: 64.76px;
height: 65.34px;
left: 912px;
top: 1965px;

}
.eyes22 {

position: absolute;
width: 84px;
height: 85.34px;
left: 956.15px;
top: 2041px;

transform: rotate(57.72deg);
}
.eyes23 {
  position: absolute;
width: 87.76px;
height: 88px;
left: 1029.49px;
top: 2019px;

transform: rotate(52.15deg);
}
.eyes24 {
  position: absolute;
width: 64.76px;
height: 65.34px;
left: 1092.25px;
top: 2001px;

transform: rotate(79.51deg);
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes spinn {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}
